.one{
    position:absolute;
    top:550px;
    right:632px;
}

.two{
    position:absolute;
    top:515px;
    right:600px;
}

.three{
    position:absolute;
    top:490px;
    right:550px;
}

.four{
    position:absolute;
    top:475px;
    right:480px;
}

.five{
    position:absolute;
    top:478px;
    right:420px;
}

.six{
    position:absolute;
    top: 500px;
    right: 350px;
}


.seven{
    position:absolute;
    top:550px;
    right:285px;
}

.eight{
    position:absolute;
    top: 610px;
    right: 265px;

}

.nine{
    position:absolute;
    top:670px;
    right:270px;
}

.ten{
    position:absolute;
    top: 740px;
    right: 295px;
}


.eleven{
    position:absolute;
    top:810px;
    right:325px;
}

.twelve{
    position:absolute;
    top:880px;
    right:370px;
}

.thirteen{
    position:absolute;
    top:950px;
    right:430px;
}

.fourteen{
    position:absolute;
    top:1000px;
    right:515px;
}

.fifteen{
    position:absolute;
    top:1040px;
    right:570px;
}

.sixteen{
    position:absolute;
    top: 1090px;
    right:632px;
}

.seventeen{
    position:absolute;
    top:1040px;
    right:694px;
}

.eighteen{
    position:absolute;
    top:1000px;
    right:749px;
}

.nineteen{
    position:absolute;
    top:950px;
    right: 809px;
}

.twenty{
    position:absolute;
    top:880px;
    right:889px;
}

.twenty-one{
    position:absolute;
    top:810px;
    right: 939px;
}

.twenty-two{
    position:absolute;
    top: 740px;
    right:984px;
}

.twenty-three{
    position:absolute;
    top:670px;
    right:1014px;
}

.twenty-four{
    position:absolute;
    top: 610px;
    right:1039px;
}

.twenty-five{
    position:absolute;
    top:550px;
    right:1044px;
}

.twenty-six{
    position:absolute;
    top: 500px;
    right: 1020px;
}



.twenty-seven{
    position:absolute;
    top:478px;
    right:955px;
}

.twenty-eight{
    position:absolute;
    top:470px;
    right:880px;
}

.twenty-nine{
    position:absolute;
    top:490px;
    right:800px;
}

.thirty{
    position:absolute;
    top:515px;
    right:735px;
}

.thirty-one{
    position:absolute;
    top:550px;
    right:660px;
}